<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>

<section  id="specificForm" class="container content-section text-center">

  <div id="SPECIFICFORM">
    <h1>
      <b>DESIGNER INFORMATION</b>
    </h1>
    <%= form_for @specific_designer, :action => 'create', :url => '/specific_designer' do |f| %>
      <p></p>
      <%= f.label :influencers %>
      <br/>
      <%= f.text_area :influencers %>
      <p></p>
      <%= f.label :specialties %>
      <br/>
      <%= f.text_area :specialties %>
      <p></p>
      <%= f.label :compensation %>
      <br/>
      <%= f.select :compensation, options_for_select(["Any","Assignment Based", "Pay Only"]) %>
      <p></p>
      <%= f.label :experience %>
      <br/>
      <%= f.select :experience, options_for_select(["0-2 years","3-6 years","7-10 years","11+ years"]) %>
      <p></p>
      <b>
        <%= f.label "Genres (Select all that apply):" %>
      </b>
      
      <br/>
      <% allgenres_first_line = ["Acting", "Art", "Cosplay", "Dance", "Editorial", "Erotic", "Fashion"] %>
      <% allgenres_first_line.each do |allgenre|  %>
        <label class="category-select">
          <%= f.check_box :allgenres, {:multiple => true}, allgenre, nil %>
          <%= "#{allgenre}" %>
        </label>
      <% end %>
      
      <br/>
      <% allgenres_second_line = ["Fetish", "Fitness", "Glamour", "Hair/Makeup", "Lifestyle", "Lingerie"] %>
      <% allgenres_second_line.each do |allgenre|  %>
        <label class="category-select">
          <%= f.check_box :allgenres, {:multiple => true}, allgenre, nil %>
          <%= "#{allgenre}" %>
        </label>
      <% end %>
      
      <br/>
      <% allgenres_third_line = ["Parts Modeling", "Performance Artist", "Pinup", "Promotional Modeling", "Maternal"] %>
      <% allgenres_third_line.each do |allgenre|  %>
        <label class="category-select">
          <%= f.check_box :allgenres, {:multiple => true}, allgenre, nil %>
          <%= "#{allgenre}" %>
        </label>
      <% end %>
    
      <br/>
      <% allgenres_forth_line = ["Runway", "Spokesperson/Host", "Sports", "Stunt", "Swimwear", "Underwater"] %>
      <% allgenres_forth_line.each do |allgenre|  %>
        <label class="category-select">
          <%= f.check_box :allgenres, {:multiple => true}, allgenre, nil %>
          <%= "#{allgenre}" %>
        </label>
      <% end %>
      
      <br/>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
  
</section>
<%= render :partial => "/layout/javascripts" %>
</body>
<%= render :partial => "/layout/footer" %>