<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>
<section  id="specificForm" class="container content-section text-center">

  <div id="SPECIFICFORM">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <h1>
      <b>PHOTOGRAPHER INFORMATION</b>
    </h1>
    <%= form_for @specific_photographer, :action => 'create', :url => '/specific_photographer' do |f| %>
    

    <div class="form-group">
                  
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-dollar" style="font-size:20px" aria-hidden="true"></i></span>
                      <%= f.select :compensation, options_for_select(["Any","Assignment Based", "Pay Only"]) ,{},{ :class => 'form-control', placeholder: 'Compensation' } %>
                    </div>
                  </div>
                </div>

            
	<div class="form-group">
                  
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-calendar"> Select Years of Experience<style="font-size:20px" aria-hidden="true"></i></span>
                      <%= f.select :experience, options_for_select(["0-2 years","3-6 years", "7-10 years", "11+ years"]),{},{ :class => 'form-control', placeholder: 'Select years of Experience' } %>
                    </div>
                  </div>
                </div>


	 
      

		<div class="form-group">
                  
                  <div class="cols-sm-10">
                    <div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paragraph" style="font-size:20px" aria-hidden="true"></i></span>
                      <%= f.text_area :influencers, :placeholder=> 'Influencers', :class => 'form-control' %>
                    </div>
                  </div>
                </div>

	 	<div class="form-group">
                  
                  <div class="cols-sm-10">
                    <div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paragraph" style="font-size:20px" aria-hidden="true"></i></span>
                      <%= f.text_area :specialties, :placeholder=> 'specialties', :class => 'form-control' %>
                    </div>
                  </div>
                </div>

	<p></p>
      <b>
        <%= f.label "Genres (Select all that apply):" %>
      </b>
      <br/>
      
      <% allgenres_lines = [["Acting", "Art", "Cosplay", "Dance", "Editorial", "Erotic", "Fashion"], 
                            ["Fetish", "Fitness", "Glamour", "Hair/Makeup", "Lifestyle", "Lingerie"],
                            ["Parts Modeling", "Performance Artist", "Pinup", "Promotional Modeling", "Maternal"],
                            ["Runway", "Spokesperson/Host", "Sports", "Stunt", "Swimwear", "Underwater"]]%>
                            
      <% allgenres_lines.each do |allgenres_line|  %>
        <% allgenres_line.each do |allgenre|  %>
          <label class="category-select">
            <%= f.check_box :allgenres, {:multiple => true}, allgenre, nil %>
            <%= "#{allgenre}" %>
          </label>
        <% end %>
        <br/>
      <% end %>

      <%= f.submit "Submit and go to the homepage" %>
    <% end %>
    
  </div>
</section>
<%= render :partial => "/layout/javascripts" %>
</body>
<%= render :partial => "/layout/footer" %>
